In [2]:
import pandas as pd
from Bio import SeqIO

In [15]:
met=pd.read_csv("data_generation/samples.csv", parse_dates=['date'])
#met=metadata[['strain','date','division']]drop
len(met)

772

In [4]:
id=[]
mut701=[]
mut222=[]
mut1078=[]
for record in SeqIO.parse("data_generation/input_seqs.gene.S.fasta", "fasta"):
    id.append(record.id)
    mut701.append(record.seq[700])
    mut222.append(record.seq[221])
    mut1078.append(record.seq[1077])

In [5]:
len(id)

767

In [7]:
dict={'seq_id':id,'pos_222':mut222,'pos_701':mut701,'pos_1078':mut1078}
df=pd.DataFrame(dict)
df["seq_id"] = df["seq_id"].str.replace('hCoV-19/SriLanka/','',regex=True)
df["seq_id"] = df["seq_id"].str.replace('/2021','',regex=True)
df

        seq_id pos_222 pos_701 pos_1078
0    aicbu1803       X       X        A
1    aicbu1808       X       A        A
2    aicbu1802       A       X        X
3    aicbu1805       A       A        A
4    aicbu1804       A       A        A
..         ...     ...     ...      ...
762  aicbu1496       X       A        A
763  aicbu1493       V       S        S
764  aicbu1494       A       A        A
765  aicbu1495       A       A        A
766  aicbu1437       V       S        S

[767 rows x 4 columns]

In [8]:
print('No of N at pos222 ='+str(len(df[df.pos_222=='X'])))
print('No of A at pos222 ='+str(len(df[df.pos_222=='A'])))
print('No of V at pos222 ='+str(len(df[df.pos_222=='V'])))

No of N at pos222 =45
No of A at pos222 =326
No of V at pos222 =395

In [9]:
print('No of N at pos701 ='+str(len(df[df.pos_701=='X'])))
print('No of A at pos701 ='+str(len(df[df.pos_701=='A'])))
print('No of S at pos701 ='+str(len(df[df.pos_701=='S'])))

No of N at pos701 =61
No of A at pos701 =331
No of S at pos701 =375

In [10]:
print('No of N at pos1078 ='+str(len(df[df.pos_1078=='X'])))
print('No of A at pos1078='+str(len(df[df.pos_1078=='A'])))
print('No of S at pos1078='+str(len(df[df.pos_1078=='S'])))

No of N at pos1078 =32
No of A at pos1078=334
No of S at pos1078=401

In [21]:
merged=pd.merge(left=df, right=met, how='outer', left_on='seq_id', right_on='sample')
merged.drop('Pateints Name', 1, inplace=True)
merged

,seq_id,pos_222,pos_701,pos_1078,sample,BHT,gisaid_epi_isl,Institute,date,Loc,district,Age,Gender,Vaccine,dose
0,aicbu1803,X,X,A,aicbu1803,127963,NaN,CMC,2021-10-05,Colombo,Colombo,78,Male,Sinopharm,2.0
1,aicbu1808,X,A,A,aicbu1808,128008,NaN,CMC,2021-10-07,Colombo,Colombo,20,Male,Sinopharm,2.0
2,aicbu1802,A,X,X,aicbu1802,127970,NaN,CMC,2021-10-05,Colombo,Colombo,50,Male,Sinopharm,2.0
3,aicbu1805,A,A,A,aicbu1805,136894,NaN,CMC,2021-10-06,Colombo,Colombo,29,Male,Sinopharm,2.0
4,aicbu1804,A,A,A,aicbu1804,131877,NaN,CMC,2021-10-06,Colombo,Colombo,43,Male,Sinopharm,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
768,NaN,NaN,NaN,NaN,aicbu1164,131384,EPI_ISL_3720898,CMC,2021-08-21,Makola,NaN,55,Male,AstraZeneca,2.0
769,NaN,NaN,NaN,NaN,CMC136296,136296,EPI_ISL_4414129,CMC,2021-09-12,Colombo,Colombo,75,Female,NaN,NaN
770,NaN,NaN,NaN,NaN,aicbu1948,415,NaN,Jaffna,2021-09-24,Jaffna,NaN,73,Male,NaN,NaN
771,NaN,NaN,NaN,NaN,aicbu1806,133021,NaN,CMC,2021-10-07,Colombo,Colombo,21,Male,Sinopharm,2.0
772,NaN,NaN,NaN,NaN,aicbu1921,4,NaN,MOH Ragama,2021-10-14,Ragama,Colombo,51,Female,Vaccinated,NaN

In [24]:
merged.set_index('date', inplace=True)

In [25]:
merged

,seq_id,pos_222,pos_701,pos_1078,sample,BHT,gisaid_epi_isl,Institute,Loc,district,Age,Gender,Vaccine,dose,Pateints Name
date,,,,,,,,,,,,,,,
2021-10-05,aicbu1803,X,X,A,aicbu1803,127963,NaN,CMC,Colombo,Colombo,78,Male,Sinopharm,2.0,S Sadanandan
2021-10-07,aicbu1808,X,A,A,aicbu1808,128008,NaN,CMC,Colombo,Colombo,20,Male,Sinopharm,2.0,S Danojan
2021-10-05,aicbu1802,A,X,X,aicbu1802,127970,NaN,CMC,Colombo,Colombo,50,Male,Sinopharm,2.0,K J A Nissanka
2021-10-06,aicbu1805,A,A,A,aicbu1805,136894,NaN,CMC,Colombo,Colombo,29,Male,Sinopharm,2.0,RAJITHA
2021-10-06,aicbu1804,A,A,A,aicbu1804,131877,NaN,CMC,Colombo,Colombo,43,Male,Sinopharm,2.0,S.B.SUNIL
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2021-08-21,NaN,NaN,NaN,NaN,aicbu1164,131384,EPI_ISL_3720898,CMC,Makola,NaN,55,Male,AstraZeneca,2.0,SDJC Silva
2021-09-12,NaN,NaN,NaN,NaN,CMC136296,136296,EPI_ISL_4414129,CMC,Colombo,Colombo,75,Female,NaN,NaN,R B LALITHA
2021-09-24,NaN,NaN,NaN,NaN,aicbu1948,415,NaN,Jaffna,Jaffna,NaN,73,Male,NaN,NaN,Sinnathurai Mahalingam
2021-10-07,NaN,NaN,NaN,NaN,aicbu1806,133021,NaN,CMC,Colombo,Colombo,21,Male,Sinopharm,2.0,Lagushan
2021-10-14,NaN,NaN,NaN,NaN,aicbu1921,4,NaN,MOH Ragama,Ragama,Colombo,51,Female,Vaccinated,NaN,Dinithi

In [26]:
merged.to_csv('sl_delta_output.csv')

<pandas.core.groupby.generic.DataFrameGroupBy object at 0x7f8eb9982ca0>